<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= movie.poster_url %>')">
      <h4 id="title-film-card"><%=movie.title%></h4>
    </div>
    <div class="flip-card-back">
      <p>
        <button type="button"  class="main-button"> Details <i class="fas fa-magnifying-glass"></i></button>
      </p>
    </div>
  </div>
</div>
