<div class="banner" id="banner-homepage">
  <div class="container d-flex flex-column">
    <h1>Welcome to Watch List</h1>
    <p>Gorgeous lists for your movies 🍿</p>
    <div class="button d-flex flex-column align-items-center">
      <%=link_to "Create a List", new_list_path, class: "btn btn-info"%>
    </div>
  </div>
</div>

<div class="container mt-3">
<h1 class="text-center">Your Lists</h1>
  <div class="cards-grid">
    <%@lists.each do |list|%>
      <div class="card-list" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <%=link_to list.name, list_path(list)%>
      </div>
    <%end%>
  </div>
</div>
