.form-new {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  border: 3px solid rgb(255, 208, 0);
  border-radius: 10px;
  padding: 25px;
  background: rgb(42, 41, 41);
  color: white;
}

.form-div {
  margin-top: 0;
  text-align: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
